In [31]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Ragnora/KecerdasanKomputasional/main/Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [18]:
df.drop(['Id'], axis='columns', inplace=True)
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [19]:
inputs = df.drop('Species', axis='columns')
target = df.Species

target

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [20]:
dummies = pd.get_dummies(inputs.SepalLengthCm)
dummies.head(3)

,4.3,4.4,4.5,4.6,4.7,4.8,4.9,5.0,5.1,5.2,...,6.8,6.9,7.0,7.1,7.2,7.3,7.4,7.6,7.7,7.9
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
inputs = pd.concat([inputs, dummies], axis='columns')
inputs.head(3)

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,4.3,4.4,4.5,4.6,4.7,4.8,...,6.8,6.9,7.0,7.1,7.2,7.3,7.4,7.6,7.7,7.9
0,5.1,3.5,1.4,0.2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4.9,3.0,1.4,0.2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4.7,3.2,1.3,0.2,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
inputs.drop('SepalLengthCm', axis="columns", inplace=True)
inputs.columns = inputs.columns = [inputs.columns.astype(str)]
# inputs.drop(['Iris-setosa','Iris-virginica'], axis='columns', inplace=True)
inputs.head(3)

,SepalWidthCm,PetalLengthCm,PetalWidthCm,4.3,4.4,4.5,4.6,4.7,4.8,4.9,...,6.8,6.9,7.0,7.1,7.2,7.3,7.4,7.6,7.7,7.9
0,3.5,1.4,0.2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3.0,1.4,0.2,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.2,1.3,0.2,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
inputs.columns[inputs.isna().any()]

MultiIndex([], )

In [24]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)
model = GaussianNB()

model.fit(X_train,y_train)
model.score(X_test,y_test)

0.6666666666666666

In [25]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)
model = GaussianNB()

model.fit(X_train,y_train)
model.score(X_test,y_test)

0.6666666666666666

In [26]:
X_test[0:10]

,SepalWidthCm,PetalLengthCm,PetalWidthCm,4.3,4.4,4.5,4.6,4.7,4.8,4.9,...,6.8,6.9,7.0,7.1,7.2,7.3,7.4,7.6,7.7,7.9
27,3.5,1.5,0.2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
146,2.5,5.0,1.9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
130,2.8,6.1,1.9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
139,3.1,5.4,2.1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
149,3.0,5.1,1.8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
105,3.0,6.6,2.1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
42,3.2,1.3,0.2,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62,2.2,4.0,1.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3.2,1.3,0.2,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
136,3.4,5.6,2.4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
y_test[0:10]

C:\Users\user\AppData\Local\Temp\ipykernel_19200\2966258366.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  y_test[0:10]

27         Iris-setosa
146     Iris-virginica
130     Iris-virginica
139     Iris-virginica
149     Iris-virginica
105     Iris-virginica
42         Iris-setosa
62     Iris-versicolor
2          Iris-setosa
136     Iris-virginica
Name: Species, dtype: object

In [28]:
model.predict(X_test[0:10])

array(['Iris-setosa', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-virginica'],
      dtype='<U15')

In [29]:
model.predict_proba(X_test[:10])

array([[1.00000000e+000, 5.46742197e-034, 0.00000000e+000],
       [0.00000000e+000, 6.07751938e-013, 1.00000000e+000],
       [1.58334587e-192, 1.48725967e-015, 1.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 1.00000000e+000],
       [0.00000000e+000, 1.00000000e+000, 0.00000000e+000],
       [8.56809463e-239, 1.00313713e-018, 1.00000000e+000],
       [1.00000000e+000, 0.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 6.69752497e-005, 9.99933025e-001],
       [1.00000000e+000, 3.28535462e-034, 2.47569344e-032],
       [0.00000000e+000, 5.74507074e-020, 1.00000000e+000]])

In [32]:
from sklearn.metrics import accuracy_score
import itertools

def evaluate_subset(subset, inputs, target):
    X_train, X_test, y_train, y_test = train_test_split(inputs[list(subset)], target, test_size=0.2, random_state=0)
    
    model = GaussianNB()
    model.fit(X_train, y_train)
    prediction = model.predict(X_test)
    
    accuracy = accuracy_score(y_test, prediction)
    
    return accuracy

inputs = df.drop(['Species', 'Id'], axis='columns')
target = df['Species']

subs = []

for i in range(1, len(inputs.columns)):
    subs.extend(itertools.combinations(['PetalLengthCm'] + list(inputs.columns[i:]), i))

accuracy_dict = {}

for subset in subs:
    accuracy = evaluate_subset(subset, inputs, target)
    accuracy_dict[subset] = accuracy
    
    print("Subset columns:", subset)
    print("Accuracy:", accuracy)

Subset columns: ('PetalLengthCm',)
Accuracy: 0.9666666666666667
Subset columns: ('SepalWidthCm',)
Accuracy: 0.5333333333333333
Subset columns: ('PetalLengthCm',)
Accuracy: 0.9666666666666667
Subset columns: ('PetalWidthCm',)
Accuracy: 0.9666666666666667
Subset columns: ('PetalLengthCm', 'PetalLengthCm')
Accuracy: 0.9666666666666667
Subset columns: ('PetalLengthCm', 'PetalWidthCm')
Accuracy: 1.0
Subset columns: ('PetalLengthCm', 'PetalWidthCm')
Accuracy: 1.0